html {
  margin: 0px;
  font-size: 16px;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
  background-color: #000;
  color: white;
  font-size: 16px;
  background-color: #fff;
}

header {
  display: flex;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 64px;
  width: 100%;
  justify-content: flex-start;
  z-index: 2;
  background-color: black;
  color: #fff;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: auto;
  height: 50px;
  margin: 10px 3.875rem;
}

nav {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  align-items: center;
}

nav ul {
  margin-right: 3.875rem;
  margin-top: 0;
  margin-bottom: 0px;
}

nav ul li {
  display: inline-block;
  list-style-type: none;
  margin-right: 1rem;
}

nav a, nav a:hover, nav a:active {
  color: #fff;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

.headline {
  background-image: url("../images/dancers-photo.png");
  background-repeat: no-repeat;
  margin-top: 64px;
  opacity: .8;
  padding: 3.125rem;
}

#faculty-headline {
  background-image: url("../images/faculty-photo.png");
  height: 25em;
  border-bottom: 8px solid #8a54ff;
}
#classes-headline {
  background-image: url("../images/classes-photo.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 25em;
  border-bottom: 8px solid #8a54ff;
}

#faculty-headline div, #classes-headline div {
  float: right;
  margin-right: 100px;
  margin-top: 100px;
  width: 300px;
  color: white;
  text-align: center;
}

#classes-headline div {
  color: #000;
}

#faculty-headline h1, #classes-headline h1 {
  color: #8a54ff;
  font-weight: bold;
}

.classes h2 {
  font-size: 1.875rem;
  font-weight: bold;
  color: #8a54ff;
}

.faculty {
  text-align: center;
  margin-top: 5.625rem;
}

.headline h1{
  font-size: 3.124rem;
  font-weight: bold;
  color: #fff;
  line-height: 1;
}

.headline p {
  font-size: 1.5rem;
  line-height: 1.5;
  color: white;
}

.headline div {
  text-align: center;
  width: 70%;
  margin: 0 auto;
}

.button {
  border-radius: 2px;
  background-color: #f5a623;
  font-size: 1.375rem;
  font-weight: bold;
  padding: 1.25rem 3.125rem;
  color: white;
  width: 350px;
  margin: 0 auto;
}

.section {

  background-position: center;
  margin-top: 0px;
  height: 31.25rem;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

#graffiti {
  background-image: url("../images/graffiti-photo.png");
}

#fire {
  background-image: url("../images/fire-photo.png");
}

#jump {
  background-image: url("../images/jump-photo.png");
}

.section h2{
  font-size: 2.25rem;
  font-weight: bold;
  line-height: 1.2;
}

.section div {
  height: 20rem;
  width: 25rem;
  background-color: rgba(173,74,226,0.9);
  line-height: 1.4;
  padding: 25px;
  /*float: right;*/
  /*margin-top: 130px;*/
}

.section p {
  padding: .125rem;
}

footer {
  background-image: url("../images/party-photo.png");
  background-repeat: no-repeat;
  /*opacity: .5;*/
}

.footer-bar {
  display: flex;
  height: 64px;
  width: 100%;
  justify-content: flex-start;
  color: #fff;
  background-color: #000;
  opacity: .5;
  white-space: nowrap;
}

.icons {
  width: 9.375rem;
  display: flex;
  justify-content: space-around;
  flex-grow: 1;
  align-items: center;
  /*padding: 2rem;*/
}

footer p {
  padding: 4rem;
  font-size: .875rem;
  letter-spacing: 0.7px;
  text-align: center;
  color: white;
}

/* FACULTY */

@media (max-width: 780px) {

  .section {
    display: flex;
    align-items: flex-end;
  }

  .section div {
    width: 100%;
    line-height: 1.4;
    padding: 1.875rem;
    margin-left: 0px;
    height: auto;
    float: none;
    margin-top: 0px;
  }

  .section h2{
    font-size: 1.875rem;
    font-weight: bold;
    line-height: 1.4;
  }
}
